{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
    <div>
        <div>
            <div>
                title: {{board.title}}
            </div>
            <div>
                writer: {{board.user}}
            </div>
            <div>
                created_at: {{board.created_at}}
            </div>
            <div>
                updated_at: {{board.updated_at}}
            </div>
            <div>
                content: {{board.content}}
            </div>
        </div>
        <a class="page-link" href="/">back</a>
    </div>
</div>
{% endblock %}