{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div>
    <div>
        <div style="text-align: center;">
            <h1 style="font-weight:bold">
                {{board.title}}
            </h1>
            <p class="lead">
                writer: {{board.user}}
            </p>
            <p class="lead">
                created_at: {{board.created_at}}
            </p>
            <p class="lead">
                updated_at: {{board.updated_at}}
            </p>
            <p class="lead">
                content: {{board.content}}
            </p>
        </div>
        <a class="page-link" href="/">back</a>
    </div>
</div>
{% endblock %}