{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
<div class="container" style="max-width:500px;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form fileuploadForm %}
        <input class="btn btn-dark rounded-pill col-12" type="submit" value="Modify" onclick="location.href='/fileedit/{{fileupload.pk}}/'">
    </form>
</div>

{% endblock %}