<div>
    <ul>
        {% if user.is_authenticated %}
            <div class="logout_div">
                <ul class="underline-hover">
                    <li class="logout_text"><span>You: {{user}}</span></li>
                    <li class="logout_text"><a href="{% url 'board' %}"><span>Board</span></a></li>
                    <li class="logout_text"><a href="{% url 'file' %}"><span>Gallery</span></a></li>
                    <li class="logout_text"><a href="{% url 'logout' %}"><span>Sign out</span></a></li>
                    <li class="logout_text"><a href="{% url 'leave' %}"><span>Leave forever</span></a></li>
                </ul>
            </div>
        {% else %}
            <div class="login_div">
                <ul class="underline-hover">
                    <li class="logout_text"><a href="{% url 'board' %}"><span>Board</span></a></li>
                    <li class="logout_text"><a href="{% url 'file' %}"><span>Gallery</span></a></li>
                    <li class="login_text"><a href="{% url 'login' %}"><span>Sign in</span></a></li>
                    <li class="login_text"><a href="{% url 'signup' %}"><span>Sign up</span></a></li>
                </ul>
            </div>
        {% endif %}
    </ul>
</div>