<div>
        {% if user.is_authenticated %}
            <div class="navbar navbar-expand-lg bg-light">
                <ul class="nav">
                    <li class="nav-item"><span>You: {{user}}</span></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'board' %}"><span>Board</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'file' %}"><span>Gallery</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'logout' %}"><span>Sign out</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'leave' %}"><span>Leave forever</span></a></li>
                </ul>
            </div>
        {% else %}
            <div class="navbar navbar-expand-lg bg-light">
                <ul class="nav">
                    <li class="nav-item"><a "nav-link" href="{% url 'board' %}"><span>Board</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'file' %}"><span>Gallery</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'login' %}"><span>Sign in</span></a></li>
                    <li class="nav-item"><a "nav-link" href="{% url 'signup' %}"><span>Sign up</span></a></li>
                </ul>
            </div>
        {% endif %}
    </ul>
</div>